[Unit]
Description=Pi-hole service address on infra
Wants=network-online.target
After=network-online.target
Before=docker.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/ip address replace 192.168.0.100/24 dev eth0
ExecStop=-/usr/sbin/ip address del 192.168.0.100/24 dev eth0
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
